<!DOCTYPE html>
<html>
<head>
  <title> Sample</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style1.css">
  <script>
    function openSlideMenu1(){
      document.getElementById('side-menu').style.width = '100%';
    }

    function closeSlideMenu1(){
      document.getElementById('side-menu').style.width = '0';
    }
   function openSlideMenu2(){
      document.getElementById('side-menu-middle').style.width = '100%';
    }

    function closeSlideMenu2(){
      document.getElementById('side-menu-middle').style.width = '0';
    }
  </script>
</head>

<body style="margin: 0px">
<section class="top-bar">
  <div class="top-bar-container d-flex-align-center d-inherit-767">
    <div class="left-side">
      <img src="img/google.png">
    </div>
    <div class="right-side">
      <nav class="navbar">
          <span class="open-slide-middle">
            <a href="#" onclick="openSlideMenu1()">
              <svg width="40" height="30">
                  <path d="M0,5 40,5" stroke="#000" stroke-width="5"/>
                  <path d="M0,14 40,14" stroke="#000" stroke-width="5"/>
                  <path d="M0,23 40,23" stroke="#000" stroke-width="5"/>
              </svg>
            </a>
          </span>

        <ul class="navigation-top">
          <li><a href="#">ALL </a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">PORTFOLIO</a></li>
          <li><a href="#">OUR TEAM</a></li>
          <li><a href="#">PLANS</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </nav>
      <div id="side-menu" class="side-nav">
        <a href="#" class="btn-close" onclick="closeSlideMenu1()">&times;</a>
        <a href="#">ALL</a>
        <a href="#">ABOUT US</a>
        <a href="#">PORTFOLIO</a>
        <a href="#">OUR TEAM</a>
        <a href="#">CONTACT</a>

      </div>
    </div>
  </div>
</section>