

@media only screen and (min-width: 1300px)

{
	#div1,#div8,#div9,.img6,#div22{
		width: 100%;

	}

	
	#div5{
		width: 50%;
		box-sizing: content-box;
		

	
	}
	#div19,#div21{
		box-sizing: border-box;
		width: 100%;
	}
	#div12{
		width: 50%;
		box-sizing: border-box;
		height: 500px;
  
	}
	#div7{
		width: 52%;
		box-sizing: border-box;
	}
	#div23{
		width: 100%;
		box-sizing: border-box;
	}
	#div33{
		padding-left: 8%;
	}
	
	.center{
	height: 588px;
	padding-top: 140px; 
	
	position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;

   
}
	.p3{
		text-align: center;
	}

	.img4{
		width: 100%;
	}
	#div30{
		width: 50%;
		box-sizing: border-box;
	}
	#map{
		width: 50%;
		box-sizing: border-box;
	}
	#image,#div3,#div13,#div17, #div18,#div20,#div38,#div26,#div29,#div32,#div34{
		width: 100.3%;
	}
	#div20{
		height:60% ;
	}
	#img8{
		height: 100%;
		width: 100%;
	}
	#div17{
		height: auto;
	}
	.mediaq1{
		width: 100%;
	}
	.div10,.div9{
		height: 100%;
	}
	.div9{
		width: 27%;
	}
	.div11{
		width: 100%;
	}
	}
	
	@media only screen and (min-width: 1600px)
	{

	.para{
		font-size: 1.5em;
		line-height: 130%;
	}
	#div20{
		height:70% ;
	}

}


	@media only screen and (min-width: 2000px)

	{
#div7,#div5{
		width: 65%;
		box-sizing: border-box;
	}

	#div20{
		height:80% ;
	}
}