@media only screen and (min-width: 1300px)

{
	#div1,#div17{
		width: 100%;

	}
	
	#div5{
		margin-left: 9%;
		width: 50%;

	}

	.img4,.img{
		width: 100%;
	}
	#image{
		width: 100%;
	}
	
	#div17{
		height: auto;
	}
	.mediaq1{
		width: 100%;
	}
	

	

