.d-flex-align-center{
	display: flex;
	
}
.position-relative{
	position: relative;
	font-size: 45px;
}
.main-container{
	padding-left: 30px;
	padding-right: 30px; 
}	
.about{
	background: lightgray;
	overflow: hidden;
	padding: 50px 0;
}		
.about .left-side{
	width: 30%;
	float: left;
	text-align: center;
}
.about .left-side h1:before{
	background: #fff617;
    position: absolute;
    content: '';
    width: 45px;
    height: 3px;
    bottom: -2px;
}
.about .right-side{
	width: 70%;
	float: left;
	text-align: justify;	
}
.exp-container{
	padding-left: 60px;
	padding-right: 30px; 
}
.our-expertise{
	overflow: hidden;
	padding: 50px 0;
}
.our-expertise .heading{
	width: 39%;
	text-align: center;
	display: block;
}
.our-expertise .left-side{
	flex: 40%;
	float: left;
	align-content: center;
	padding-right: 20px;
	
}
.our-expertise .heading h1:before{
	background: #fff617;
    position: absolute;
    content: '';
    width: 45px;
    height: 3px;
    bottom: -2px;
}
.border {
    border: 1px solid #ccc;
    background-color: lightgray;
    width:380px;
    height: 2px;
}
.grey{
    background-color: black;
    height: 4px;
   	margin-top: -1px;
}
.name{
	float: left;
	margin-top: 3px;
	}
.number{
	float: left;
	margin-top: 3px;
}
.bar{
	float: left;
	width: 385px;
	height: 21px;
	margin-top: 19px;
	font-size: 14px;
	color: grey;
	font-family: arial;
	letter-spacing: -.5px;
	flex-direction: column;
}
.our-expertise .right-side{
	flex: 60%;
	float: left;
	text-align: justify;	
}

.graphic-design{
	
	overflow: hidden;
	padding: 50px 0;
}
.graphic-container{
	padding-left: 60px;
	padding-right: 30px; 
}	

.graphic-design .image {
    flex: 20%;
    
    padding-right: 30px;
}
.graphic-design img{
	width: 100%;

}
.graphic-design .left-side{
	flex: 33.33%;
	display: flex;
	text-align: justify;
	padding-right: 50px;
}
.graphic-design .middle-side{
	flex: 33.33%;
	display: flex;
	text-align: justify;
	padding-right: 50px;
}
.graphic-design .right-side{
	flex: 33.33%;
	display: flex;
	text-align: justify;
	padding-right: 50px;
}
.graphic-design .side-content{
flex:70%;
}
.magic{
	background: lightgray;
	overflow: hidden;
	padding:0px;
}

.magic .left-side{
	flex: 50%;
}
.magic .left-side img{
	width: 100%;
	height: 100%;
	
}
.magic .right-side{
	flex: 40%;
	text-align: justify;
	padding: 40px ;
}
.magic .right-side h1:before{
	background: #fff617;
    position: absolute;
    content: '';
    width: 65px;
    height: 3px;
    bottom: -30px;
}



/*responsive*/
@media screen and (max-width: 767px){
	.d-inherit-767{
		display: inherit;
	}
	.about .left-side{
		width: 100%;
	}
	.about .right-side{
		width: 100%;
	}
	.our-expertise .heading{
		width: 100%;
	}
	.our-expertise .left-side{
		width: 100%;
	}
	.our-expertise .right-side{
		width: 100%;
	}
	.graphic-design .left-side{
		width: 100%;
		padding-right: 5px;
	}
	.graphic-design .middle-side{
		width: 100%;
		padding-right: 5px;
	
	}
	.graphic-design .right-side{
		width: 100%;
		padding-right: 5px;
	
	}
	.graphic-design .image {
    flex: 10%;  
	}
	.graphic-design .side-content{
flex:80%;
}
.magic .left-side{
	width: 100%;
}
.magic .right-side{
	width: 90%;
}
}