	#div1{
  		font-size: 15px;
  		font-family:arial;
  		color: grey;
  		font-weight: 600;
  		margin-top: -7px;
  		width:1266px;

 	}
 	.li{
 		margin-left: 23px;
 		
 	}
	#horizontal-list {
		list-style: none;
		float: right;
	}
		#horizontal-list1 {
		list-style: none;
		float: left;

	}
	#horizontal-list1 li {
		display: inline;
		color: grey;
		font-family:arial;
  		color: grey;
  		font-weight: 500;
	}
	#horizontal-list li {
		display: inline;
	}
	.img{
		width: 100%;
		height: 300px;
	}
	.img1{
	
		width: 30px;
		height:30px;
		margin-left: 15px;
		margin-top: 7px;
	}
	.img2{
	
		max-width: 100%;
		max-height: 100%;
		
	}
	.img3{
		width:55px;
		height:42px;
	}
	.img4{
		max-width:100%;
		
		height: 500px;
	}
	.img6{
		width: 100%;
		height: 500px;
	}
	.div2{
		float: left;
		height: 37px;
		border-bottom: 3px solid yellow;
	}
	#div2{
		width: 65px;
	}
	#div40{
		width: 45px;

	}
	#div3{
		background-color: whitesmoke;
		height: 300px;

	}
	.div3{
		width: 1284px;
		margin-left: -8px;
	}
	#div38{
		height: 500px;
	}
	
	#div4{
		float: left;
    	margin-left: 100px;
    	padding-left: 53px;
    	padding-top: 100px;
    	padding-right: 103px;
   	    padding-bottom: 120px;
 
    }
    .div4{
    	font-size: 32px;
    	font-family:helvetica;
    	font-weight: 700;
    	letter-spacing: 1px;
    }
  	#div5{
		margin-left: 93px;
    	float: left;
    	width: 532px;
    	margin-top: 75px;
    	
    	padding-left: 158px;
    
    	
  	}
  	.para{
  		text-align: justify;
  		font-size: 15px;
    	font-family:Arial, Helvetica, sans-serif;
    	line-height: 20px;
    	
  	}
  	.progressgrey{
  		float: left;
  		border-top: 1px solid black;
  		height: 200px;
  	}
  	#div39{
  		float: left;
  		height: 50px;
  		margin-left: 65px;
  		width:240px;
  		margin-bottom: 10px;
  	}
  	#div6{
		float: left;
    	padding-left: 53px;
    	padding-top: 65px;
    	padding-bottom: 63px;
    	width: 490px;
    }
    #div7{
    	
    	float: left;
    	width: 660px;
    	margin-top: 121px;
   	    text-align: justify;
    	
    	font-size: 15px;
  	}
  #div8{

		height: 450px;
	}
	.div9{
		
    	float: left;
    	width: 330px;
    	height: 200px;
    	margin-left: 60px;
	}
	#div9{
		height: 260px;
		float: left;
	}
	.div10{
		float: left;
    	width: 30px;
    	height: 140px;
    	margin-left: 32px;
    	margin-right: 43px;
    	margin-top: 20px;
	}
	.div11{	
		margin-left: 20px;
   	    width: 300px;
    	font-size: 15px;
    	text-align: justify;
	}
	#div13{
		height: 500px;
	}
	#div11{
		height: 500px;
		width: 50%;
		float: left;
    }
	#div12{
		float: left;
	    padding-left: 137px;
	    padding-top: 38px;
	    padding-right: 50px;
	    background-color: lightgrey;
	    height: 463px;
	    width: 455px;
    }
	#p2{
		color: lightgrey;
		text-decoration: underline;
		text-decoration-color: yellow;
	}
	.p1{
		text-align: justify;
		line-height: 17px;
	}
	#div14{
		height: 262px;
	
	}
	#div15{
		float: left;
   	    width: 505px;
    	height: 198px;
    	padding-top: 100px;
    	padding-left: 130px;
	}
	#div16{
	    padding-top: 100px;
	    padding-left: 23px;
    	padding-right: 90px;
	    height: 199px;
    	float: left;

	}
	.img5{
		max-width: 100%;
		max-height:100%;
	}
	#div17{
		height:660px;
	}
	#div18{
		height:53px;
		background-color: whitesmoke;

	}
	#h1{
	
		padding-top: 20px;
   	    padding-left: 45%;
   	    color:grey;
    	font-weight: bold;
    	font-family: arial;

	}
	#div19{
		height: 200px;
		margin-top: 35px;
		padding-top: 50px;

	}
	.p3{
		font-size: 14px;
    	text-align: center;
    	padding-left: 300px;
    	padding-right: 300px;
    	font-family:Arial, Helvetica, sans-serif;
    	line-height: 20px;
    	color:grey;
    	font-weight: bold;

	}
	#div20{
		margin-top: 20px;
		height: 300px;
	}
	#div21{
		
		height:200px;
	}
	.div41{
    float: left;
    margin-top: 50px;
    
    width: 100px;
    height: 92px;
}

	#div41{
		margin-left: 270px;
		margin-right: 130px;
	}
	#div42{
		margin-right: 130px;
	}
	.web{
		font-size: 35px;
			font-family:Arial, Helvetica, sans-serif;
			font-weight: 800;
	}
	.web1{
		color:blue;
		font-size: 12px;
			font-family:Arial, Helvetica, sans-serif;
		margin-top:-44px;
		font-weight: 700;
	}

	.th{
		font-size: 30px;
	}
	.td{
		color:blue;
	}
	#div22{
	height: 470px;

	}
	#div23{
		margin-left:130px;
		margin-top: 100px;
		width:1100;
		float: left;
	}
	.div24{
	    float: left;
    	margin-top: 50px;
    	margin-left: 140px;
    	width: 312px;
    	height: 366px;

	}
	.div25{
	    float: left;
   	    margin-top: 50px;
    	margin-left: 40px;
    	width: 312px;
    	height: 366px;
	}
	#div26{
		height:730px;
		margin-top: 100px;
		background-color: #cccccc;
	}
.div27{
		float: left;
    	margin-top: 50px;
	    width: 225px;
	    height: 366px;
	    background-color: white;
	    padding-top: 20px;
	    padding-left: 30px;
	}
	#div27{
		margin-left: 140px;
	}
	#div28{
		margin-left: 110px;
	}
	#div29{
		height: 600px;
	}
	#div30{
		float: left;
    	height: 500px;
    	padding-top: 40px;
    	padding-left: 85px;
    	width: 513px;
    	margin-right: 125px;
	}
	#div31{
		float: left;
		height: 25px;
    background-color: black;
    padding-top: 10px;
    text-align: center;
    
    width: 304px;
    
    margin-top: 10px;

	}
	#map{
		float: left;
		height: 600px;
		width: 560px;
	}
	#div32{
		height:270px;
		background-color: #333333;
		margin-top: 1px;
		padding-top: 30px;

	}
	#img7{
		height: 50px;
		width: 50px;
	}
	#div33{
	 margin-left: 320px;
    height: 135px;
    width: 650px;
    color: lightgrey;
    font-size: 16px;
	}
	#div34{
		height: 50px;
		background-color: #0d0d0d;
		padding-top: 50px;
		color: white;
	}
	.button{
	background-color: black;
    border: none;
    color: lightgrey;
    font-size: 13px;
    cursor: pointer;
}
.hr1{
	border-color: black;

}
.formelement{
	border:none;
	color: lightgrey;
}
	 .border {
    border: 1px solid #ccc;
    background-color: lightgray;
    width:320px;
    height: 2px;
}
.grey{
    
    background-color: black;
        height: 4px;
  
    margin-top: -1px;
}
.name{
	float: left;
	margin-top: 2px;
}
.number{
	float: left;
	margin-top: 2px;

}
.bar{
	float: left;
	width: 325px;
	height: 21px;
	margin-top: 19px;
	font-size: 14px;
	color: grey;
	font-family: arial;
	letter-spacing: -.5px;
}

